
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="hobby-world/src/app/assets/HobbyWorldLogo.jpg" alt="Logo" width="200">
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="hobbies">Hobbies</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <h1>I will be displayed on all pages!</h1>

</body>
</html>
<router-outlet />
